<div class="my-[4%]">
  <h2 class="relative mb-[10px] ml-[4%] select-none text-[1.4vw] text-white max-md:text-[12px]">
    {{ name }}
  </h2>
  <div #sliderFrame class="slider-frame">
    <div class="btn prev flex select-none items-center justify-center" (click)="prev()">
      <i class="icon icon-chevron-left text-[40px]"></i>
    </div>
    <div class="btn next flex select-none items-center justify-center" (click)="next()">
      <i class="icon icon-chevron-right text-[40px]"></i>
    </div>
    <div class="slides-hint absolute right-0 top-[-15%] flex flex-row items-center gap-[2px] pr-[4%]">
      <div
        *ngFor="let i of slides$ | async; let index = index"
        [ngClass]="{ 'bg-white/60': index === currentSliderCount }"
        class="h-[2px] w-[13px] bg-white/20"></div>
    </div>
    <div #sliderContainer class="slider-container select-none">
      <div #slides class="slide select-none" *ngFor="let card of cards; let index = index">
        <app-cards
          [card]="card"
          [index]="index"
          [type]="type"
          class="block h-full w-full"
          (click)="openCardDetails(card)"></app-cards>
      </div>
    </div>
  </div>
</div>
