<div class="relative mb-[-20vw] h-[66.25vw] overflow-hidden bg-cover">
  <!--  css={css`
          ;
        `} -->
  <video
    *ngIf="card.clipPath; else imgTpl"
    class="h-[66.25vw] max-h-[unset] max-w-[unset]"
    [src]="card.clipPath"
    [autoplay]="true"
    [loop]="true"
    [controls]="false"
    playsInline
    [muted]="mute"></video>
  <ng-template #imgTpl>
    <img class="h-[66.25vw] max-h-[unset] max-w-[unset]" [src]="card.thumbnailPath" />
  </ng-template>
  <div
    class="fading-bg absolute -bottom-px top-auto z-0 h-[14.7vw] w-full bg-transparent bg-[0_top] bg-repeat-x opacity-100">
    <!--  css={css`
            background: linear-gradient(
              180deg,
              hsla(0, 0%, 8%, 0) 0,
              hsla(0, 0%, 8%, 0.15) 15%,
              hsla(0, 0%, 8%, 0.35) 29%,
              hsla(0, 0%, 8%, 0.58) 44%,
              #141414 68%,
              #141414
            );
          `} -->
  </div>
  <div
    class="full-width-without-padding absolute left-0 top-0 z-0 flex h-[45vw] max-h-screen flex-col justify-end p-[4%]">
    <!--  css={css`
            width: calc(100% - 8rem);
          `} -->
    <h1 class="mb-2 text-[3vw] font-bold">{{ card.title }}</h1>
    <h2 class="mb-1.5 text-[1.75vw] font-bold">{{ card.tagline }}</h2>
    <p class="mb-4 w-[45rem] max-w-[550px] text-[1.2vw] font-medium leading-normal">
      {{ card.description }}
    </p>
    <app-button variant="tertiary" (click)="openDetail()">
      <i class="icon icon-info"></i>
      Plus d'infos
    </app-button>
    <!-- extraCSS="{`absolute"
      bottom-14
      right-16`} -->
    <!-- <app-button [variant]="mute ? 'tertiary' : 'tertiary-active'" [rounded]="true">
      <i [ngClass]="mute ? 'icon icon-mute' : 'icon icon-sound'"></i>
    </app-button> -->
  </div>
</div>
