<div
  class="relative mx-[0.2vw] h-full cursor-pointer overflow-visible"
  (mouseenter)="setIsHover(true)"
  (mouseleave)="setIsHover(false)">
  <div class="h-full w-full overflow-hidden rounded-[0.2vw] px-[0]">
    <span *ngIf="isTop; else classicTpl" class="relative bottom-0 left-0 right-0 top-0 flex h-full w-full flex-row">
      <app-svg-icon icon="rank{{ index + 1 }}" height="100%" width="50%" class="mr-[-1%]"></app-svg-icon>
      <img class="relative bottom-0 left-0 right-0 top-0 h-full w-1/2" [src]="card.thumbnailPathPortrait" alt="" />
      <img
        *ngIf="card.producedByDevflix"
        src="assets/images/svg/d-trademark.svg"
        class="absolute left-1/2 top-[5px] h-[22.5%]" />
    </span>
    <ng-template #classicTpl>
      <img class="relative bottom-0 left-0 right-0 top-0 h-full w-full" [src]="card.thumbnailPath" alt="" />
      <img
        *ngIf="card.producedByDevflix"
        src="assets/images/svg/d-trademark.svg"
        class="absolute left-[2.5px] top-[5px] h-[22.5%]" />
    </ng-template>
  </div>
  <div *ngIf="isPending" class="px-[18%] py-[8px]">
    <mat-progress-bar mode="determinate" [value]="progress" color="warn" ngClass=""></mat-progress-bar>
  </div>
  <div
    #cardMiniModal
    class="absolute left-0 top-0 mx-[0.2vw] hidden w-full overflow-visible whitespace-normal align-top shadow-[0px_3px_10px_0px] shadow-[rgba(0,0,0,0.75)]">
    <div [ngClass]="{ 'h-[82%]': isTop, 'h-full': !isTop }" class="w-full overflow-hidden px-[0]">
      <video
        *ngIf="card.clipPath; else imgTpl"
        class="relative bottom-0 left-0 right-0 top-0 h-full w-full rounded-t-[4px]"
        [src]="card.clipPath"
        [autoplay]="true"
        [loop]="true"
        [controls]="false"
        playsInline></video>
      <ng-template #imgTpl>
        <img
          class="relative bottom-0 left-0 right-0 top-0 h-full w-full rounded-t-[4px]"
          [src]="card.thumbnailPath"
          alt="" />
        <img
          *ngIf="card.producedByDevflix"
          src="assets/images/svg/d-trademark.svg"
          class="absolute left-[2.5px] top-[5px] h-[22.5%]" />
      </ng-template>
    </div>
    <div
      #cardMiniModalDetails
      class="absolute z-50 -mt-[2px] hidden w-full flex-col rounded-b-[4px] bg-[#141414] p-[16px] shadow-[0px_3px_10px_0px] shadow-[rgba(0,0,0,0.75)]">
      <div class="mb-[8px] flex flex-row justify-between">
        <div class="flex flex-row">
          <app-button variant="quaternary" [rounded]="true" [disabled]="true">
            <i ngClass="icon icon-plus"></i>
          </app-button>
          <app-button variant="quaternary" [rounded]="true" [disabled]="true">
            <i ngClass="icon icon-like"></i>
          </app-button>
        </div>
        <app-button variant="quaternary" [rounded]="true">
          <i ngClass="icon icon-chevron"></i>
        </app-button>
      </div>
      <ng-container *ngIf="!isPending; else pendingTpl">
        <div class="my-[12px] flex flex-col">
          <p class="text-[16px] font-[500] text-recommended">Recommandé à {{ card.recommended }}%</p>
          <p class="text-[16px] text-[#BCBCBC]">{{ card.year }}</p>
        </div>
        <p class="text-[16px] text-white">{{ tags }}</p>
      </ng-container>
      <ng-template #pendingTpl>
        <div *ngIf="isPending" class="flex flex-row items-center justify-center gap-[8px] py-[8px]">
          <mat-progress-bar mode="determinate" [value]="progress" color="warn" [ngClass]="''"></mat-progress-bar>
          <p class="whitespace-nowrap font-[500] text-white/70">{{ timing }} sur {{ duration }} min</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
