<div class="my-[40px]">
  <h2 class="relative z-30 mb-[10px] ml-[40px] select-none text-[20px] font-bold text-white">{{ name }}</h2>
  <div #sliderFrame class="slider-frame">
    <div class="btn prev flex select-none items-center justify-center" (click)="prev()">
      <i class="icon icon-chevron-left text-[40px]"></i>
    </div>
    <div class="btn next flex select-none items-center justify-center" (click)="next()">
      <i class="icon icon-chevron-right text-[40px]"></i>
    </div>
    <div #sliderContainer class="slider-container select-none">
      <div #slides class="slide select-none" *ngFor="let card of cards; let index = index">
        <app-cards [card]="card" class="block h-full w-full" (click)="openCardDetails(card)"></app-cards>
      </div>
    </div>
  </div>
</div>
