<div class="relative z-0 m-0 min-h-full bg-black p-0">
  <div class="absolute left-0 top-0 z-0 h-full w-full bg-black bg-sign-in-banner bg-cover opacity-50"></div>
  <div class="relative z-10">
    <div class="absolute left-0 top-0 h-[90px] w-full border-0 border-b-[transparent] bg-smokey-gradient"></div>
    <div
      class="mx-auto my-0 px-[5%] py-0 text-[#333] before:block before:h-[91px] after:block after:h-[236px] sm:mx-auto sm:mb-[-236px] sm:mt-0 sm:min-h-screen sm:max-w-[450px] sm:bg-transparent">
      <div>
        <div
          class="m-0 box-border flex min-h-[550px] w-full flex-col rounded bg-smokey px-0 pb-[30px] pt-5 xs:min-w-[380px] sm:mb-[90px] sm:min-h-[660px] sm:p-[40px] sm:px-[68px] sm:pb-10 sm:pt-[60px]">
          <div class="grow">
            <app-title>S'identifier</app-title>
            <app-input
              placeholder="E-mail ou numéro de téléphone"
              [disabled]="false"
              value="hire-me@yourfancycompany.com"></app-input>
            <app-input placeholder="Mot de passe" [disabled]="true" type="password" value="toto123"></app-input>
            <a [routerLink]="'/browse'">
              <app-button [routerLink]="'/browse'">S'identifier</app-button>
            </a>
            <p class="mt-[10px] text-[13px] text-[#8c8c8c]">
              Bienvenue sur mon portfolio, je vous propose de découvrir mon profil avec un parcours et une interface qui
              vous est sûrement familier.
              <br />
              Pour commencer, cliquez sur
              <span class="whitespace-nowrap"> « S'identifier » </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relative z-10 mt-0 w-full min-w-[190px] bg-smokey pb-5 text-[1em] text-[#757575]">
    <div class="h-0 w-full border-t border-solid border-t-neutral-500 sm:hidden"></div>
    <div class="mx-auto my-0 w-[90%] max-w-[1000px] px-0 py-[30px] text-neutral-500">
      <p class="mx-0 mb-[30px] mt-0 p-0">Des questions ? Contactez-nous</p>
      <ul class="m-0 max-w-[1000px] p-0 text-[13px]">
        <li class="mb-4 ml-0 box-border inline-block w-3/12 min-w-[100px] list-none py-0 pl-0 pr-3 align-top">
          <a class="cursor-pointer hover:underline">
            <span>FAQ</span>
          </a>
        </li>
        <li class="mb-4 ml-0 box-border inline-block w-3/12 min-w-[100px] list-none py-0 pl-0 pr-3 align-top">
          <a class="cursor-pointer hover:underline">
            <span>Centre d'aide</span>
          </a>
        </li>
        <li class="mb-4 ml-0 box-border inline-block w-3/12 min-w-[100px] list-none py-0 pl-0 pr-3 align-top">
          <a class="cursor-pointer hover:underline">
            <span>Boutique Netflix</span>
          </a>
        </li>
        <li class="mb-4 ml-0 box-border inline-block w-3/12 min-w-[100px] list-none py-0 pl-0 pr-3 align-top">
          <a class="cursor-pointer hover:underline">
            <span>Conditions d'utilisation</span>
          </a>
        </li>
        <li class="mb-4 ml-0 box-border inline-block w-3/12 min-w-[100px] list-none py-0 pl-0 pr-3 align-top">
          <a class="cursor-pointer hover:underline">
            <span>Confidentialité</span>
          </a>
        </li>
        <li class="mb-4 ml-0 box-border inline-block w-3/12 min-w-[100px] list-none py-0 pl-0 pr-3 align-top">
          <a class="cursor-pointer hover:underline">
            <span>Préférences de cookies</span>
          </a>
        </li>
        <li class="mb-4 ml-0 box-border inline-block w-3/12 min-w-[100px] list-none py-0 pl-0 pr-3 align-top">
          <a class="cursor-pointer hover:underline">
            <span>Mentions légales</span>
          </a>
        </li>
      </ul>
      <div class="mt-[20px]" id="lang-switcher">
        <div
          class="font-nucleo relative m-0 inline-block w-auto cursor-pointer p-0 before:pointer-events-none before:absolute before:left-[15px] before:top-3.5 before:text-base before:text-[#999] before:content-['\ea0a'] after:pointer-events-none after:absolute after:right-2.5 after:top-[17px] after:cursor-pointer after:text-[6px] after:text-black after:content-['\e898'] sm:max-w-[600px]">
          <label
            for="lang-switcher-select"
            class="absolute -m-px block h-px w-px overflow-hidden whitespace-nowrap border-0 text-base font-normal text-[#8c8c8c]">
            <span class="ui-label-text">Choisir la langue</span>
          </label>
          <div class="select-arrow medium prefix font-body">
            <select
              disabled
              class="w-full appearance-none rounded-sm border border-solid border-[#333] bg-black bg-none p-3 pl-[50px] pr-[26px] indent-[0] text-[13px] normal-case leading-[1.7]"
              id="lang-switcher-select"
              tabindex="0">
              <option selected="" lang="fr" value="/fr/login">Français</option>
              <option lang="en" value="/fr-en/login">English</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
