<div class="flex h-full animate-profile-gate flex-col items-center justify-center p-8 text-[9.41667px]">
  <h1 class="font-regular my-[.67em] w-full text-center text-[3.5vw] text-white">Qui est-ce ?</h1>
  <ul class="mb-[2em] flex flex-wrap items-center justify-center gap-4 pl-0 lg:gap-[2vw]">
    <ng-container *ngFor="let profile of profiles$ | async">
      <app-profile-thumbnail
        *ngIf="!profile.hidden"
        [profile]="profile"
        [editor]="editor()"
        (click)="onProfileClick(profile)"></app-profile-thumbnail>
    </ng-container>
    <app-add-profile-trigger (click)="alert()"></app-add-profile-trigger>
  </ul>
  <ng-container *ngIf="!editor(); else editorTpl">
    <app-button variant="primary" [href]="['/ManageProfiles']"> Gérer les profils </app-button>
  </ng-container>
  <ng-template #editorTpl>
    <app-button variant="secondary" [href]="['/browse']"> Terminé </app-button>
  </ng-template>
  <p class="absolute bottom-[10px] right-[10px] text-[12px] text-white/70 hover:underline">
    <a href="https://www.freepik.com/author/catalyststuff"> Images by catalyststuff on Freepik </a>
  </p>
</div>
