<div
  class="flex cursor-pointer flex-col items-center justify-center gap-1 [&>div>div:first-child]:hover:bg-[#e5e5e5] [&>p]:hover:text-white">
  <div class="relative flex h-[10vw] min-h-[90px] w-[10vw] min-w-[90px] items-center justify-center rounded">
    <div class="absolute left-0 top-0 z-0 h-full w-full rounded border-[3px] border-transparent"></div>
    <i class="icon icon-add z-10 rounded text-[60px] text-[#808080] lg:text-[5.5vw]"></i>
  </div>
  <p class="font-regular mb-4 mt-0 text-center text-lg text-[#808080] lg:text-[1.3vw]">Ajouter un profil</p>
</div>
