<div class="mat-typography m-auto max-w-[1000px] p-[40px] sm:p-[80px]">
  <h1>Mentions légales</h1>

  <p>Date de dernière mise à jour : 08/01/2024</p>

  <p>Bienvenue sur mon portfolio en ligne.</p>

  <h2 class="!mt-[35px]">1. Éditeur du Site</h2>

  <ul class="!px-[20px]">
    <li>Nom de l'éditeur : Alexandre Bonvalle (ci-après dénommée « Je »)</li>
    <li>Adresse e-mail : <a href="mailto:contact@abvdev.fr" class="underline">contact&#64;abvdev.fr</a></li>
  </ul>

  <h2 class="!mt-[35px]">2. Hébergement du Site</h2>

  <ul class="!px-[20px]">
    <li>Nom de l'hébergeur : GitHub, Inc.</li>
    <li>Adresse : 88 Colin P Kelly Jr St, San Francisco CA 94107, United States</li>
    <li>Site web : <a href="https://github.com/" class="underline">https://github.com/</a></li>
    <li>
      Contact :
      <a href="https://docs.github.com/support/contacting-github-support" class="underline"
        >https://docs.github.com/support/contacting-github-support</a
      >
    </li>
  </ul>

  <h2 class="!mt-[35px]">3. Propriété Intellectuelle</h2>

  <p class="!px-[20px]">
    Le contenu de ce site (textes, images, vidéos, etc.) est la propriété exclusive de Alexandre Bonvalle à moins qu'il
    n'en soit autrement mentionné ci-dessous. Toute reproduction, distribution, modification ou utilisation du contenu
    sans autorisation écrite préalable est strictement interdite.
  </p>

  <h2 class="!mt-[35px]">4. Liens Copyrights des Images</h2>

  <p class="!px-[20px]">
    Les images utilisées sur ce site peuvent être soumises à des droits d'auteur détenus par des tiers. Les droits
    d'auteur des images sont respectés et reconnus. Les crédits pour les images suivantes sont attribués comme suit :
  </p>
  <ul class="!px-[20px]">
    <li>
      Images des profils :
      <a href="https://www.freepik.com/author/catalyststuff" class="underline">
        https://www.freepik.com/author/catalyststuff
      </a>
    </li>
    <li>
      Mockup macbook des projets :
      <a href="https://www.anthonyboyd.graphics/laptops/" class="underline">
        https://www.anthonyboyd.graphics/laptops/
      </a>
    </li>
    <li>
      Autres Mockups des projets :
      <a href="https://mockups-design.com/free-devices-mockups/" class="underline">
        https://mockups-design.com/free-devices-mockups/
      </a>
    </li>
    <li>
      Memes (Top 10) :
      <a href="https://lesjoiesducode.fr/" class="underline"> https://lesjoiesducode.fr/ </a>
    </li>
  </ul>

  <h2 class="!mt-[35px]">5. Responsabilité</h2>

  <p class="!px-[20px]">
    Malgré tous les efforts déployés pour assurer l'exactitude des informations présentées, je décline toute
    responsabilité quant à d'éventuelles erreurs ou omissions dans le contenu de ce site. Je me réserve le droit de
    modifier, supprimer ou mettre à jour le contenu à tout moment sans préavis.
  </p>

  <h2 class="!mt-[35px]">6. Données Personnelles</h2>

  <p class="!px-[20px]">
    Les informations personnelles collectées via ce site sont soumises à notre politique de confidentialité, disponible
    à l'adresse <a routerLink="/privacy" class="underline">https://portfolio.abvdev.fr/privacy</a>.
  </p>

  <h2 class="!mt-[35px]">7. Contact</h2>

  <p class="!px-[20px]">
    Pour toute question ou préoccupation concernant ces mentions légales, veuillez nous contacter à l'adresse suivante :
    <a href="mailto:terms@abvdev.fr" class="underline">terms&#64;abvdev.fr</a>
    .
  </p>

  <p class="!mt-[40px]">
    Je vous invite à consulter la <a routerLink="/privacy" class="underline">politique de confidentialité</a>.
  </p>

  <p>Merci de votre visite !</p>
</div>
