<div class="!bg-white">
  <h2 mat-dialog-title class="!text-gray-800">Devflix & chill !</h2>
  <mat-dialog-content class="mat-typography">
    <h3 class="!mb-[5px] !mt-[15px] !font-medium text-gray-700">Bienvenue sur mon portfolio,</h3>
    <p class="!my-0 !text-gray-600">
      Quoi de mieux que de vous partager mes codes Devflix™ pour que vous puissiez en apprendre un peu plus sur moi ?
      Prenez le profil qui vous correspond le mieux et commencez à chercher parmi les films et séries produits par
      Devflix™ (marqués par le logo
      <img src="assets/images/svg/d-trademark.svg" width="32" class="inline-block" />).
    </p>

    <h3 class="!mb-[5px] !mt-[15px] !font-medium text-gray-700">Vous n'avez pas le temps ?</h3>
    <p class="!text-gray-600">
      Pas de problèmes, vous pouvez à tout moment accéder à mon portfolio dans une forme plus classique en cliquant sur
      le lien "<a href="https://cv.abvdev.fr" class="font-medium underline">Curriculum vitae</a>" qui se trouve dans la
      barre tout en haut.
    </p>
    <img src="assets/images/cv.png" width="256px" alt="cv hint" />
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial class="">C'est parti !</button>
  </mat-dialog-actions>
</div>
