@if(profileLoading(); as profile){
  <app-profile-loading [profile]="profile"></app-profile-loading>
  }@else {

  @if ((browseServiceCurrentProfile$ | async) !== null) {
    @if (currentProfileMainCard$ | async; as currentProfileMainCard) {
      @if (currentProfileMainCard !== null) {
        <app-header [card]="currentProfileMainCard"></app-header>
      }
    }
    @if (currentProfileCardsLists$ | async; as cardLists) {
      @for (cardList of cardLists; track cardList) {
        @if (cardList !== null) {
          <app-cards-list
            [name]="cardList.name"
            [cards]="cardList.cards"
          [type]="cardList.type"></app-cards-list>
        }
      }
      <app-footer></app-footer>
    }
  } @else {
    <app-profile-selection [editor]="false"></app-profile-selection>
  }

}
