@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8k46d2');
  src:  url('fonts/icomoon.eot?8k46d2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8k46d2') format('truetype'),
    url('fonts/icomoon.woff?8k46d2') format('woff'),
    url('fonts/icomoon.svg?8k46d2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e900";
}
.icon-chevron:before {
  content: "\e901";
}
.icon-chevron-right:before {
  content: "\e903";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-up:before {
  content: "\e905";
}
.icon-like:before {
  content: "\e902";
}
.icon-check:before {
  content: "\ea02";
}
.icon-add:before {
  content: "\ea03";
}
.icon-sound:before {
  content: "\ea04";
}
.icon-mute:before {
  content: "\ea05";
}
.icon-info:before {
  content: "\ea06";
}
.icon-down_arrow:before {
  content: "\ea08";
}
.icon-up_arrow:before {
  content: "\ea0b";
}
.icon-close:before {
  content: "\ea09";
}
.icon-globe:before {
  content: "\ea0a";
}
.icon-devflix:before {
  content: "\ea0c";
}
.icon-edit:before {
  content: "\ea0d";
}
