<div class="mat-typography m-auto max-w-[1000px] p-[40px] sm:p-[80px]">
  <h1>Politique de Confidentialité</h1>

  <p>Date de dernière mise à jour : 08/01/2024</p>

  <p>
    Bienvenue sur mon portfolio en ligne. J'accorde une grande importance à la confidentialité de vos données
    personnelles. Cette politique de confidentialité explique comment je collecte, utilise, partage et protége vos
    informations lorsque vous visitez mon site web.
  </p>

  <h2 class="!mt-[35px]">1. Informations Collectées</h2>

  <p class="!px-[20px]">
    Je ne collecte pas directement de cookies sur mon site web. Cependant, veuillez noter que des librairies et sites
    tiers intégrés dans mon portfolio peuvent collecter des informations, y compris des cookies, conformément à leurs
    propres politiques de confidentialité. Ces tiers peuvent inclure des fournisseurs de services d'analyse de site web,
    des plates-formes de médias sociaux, ou d'autres services liés.
  </p>

  <h2 class="!mt-[35px]">2. Utilisation des Informations</h2>

  <p class="!px-[20px]">
    Je n'utilise pas directement les cookies pour collecter des informations vous concernant. Cependant, veuillez noter
    que les tiers mentionnés ci-dessus peuvent utiliser des cookies pour diverses finalités, telles que l'analyse du
    site web, le suivi des performances, la personnalisation du contenu, etc. Je vous invite à consulter les politiques
    de confidentialité de ces tiers pour comprendre comment vos données sont traitées.
  </p>

  <h2 class="!mt-[35px]">3. Partage des Informations</h2>

  <p class="!px-[20px]">
    Je ne partage pas directement vos informations personnelles avec des tiers. Cependant, les librairies et sites tiers
    intégrés dans mon portfolio peuvent collecter des informations conformément à leurs propres politiques. Je vous
    invite à consulter les politiques de confidentialité de ces tiers pour comprendre comment vos données sont traitées.
  </p>

  <h2 class="!mt-[35px]">4. Sécurité des Données</h2>

  <p class="!px-[20px]">
    Je prends des mesures raisonnables pour protéger vos informations contre l'accès non autorisé, la divulgation,
    l'altération ou la destruction. Cependant, veuillez noter que la transmission de données sur Internet n'est jamais
    entièrement sécurisée, et aucune méthode de stockage électronique n'est infaillible.
  </p>

  <h2 class="!mt-[35px]">5. Liens vers des Sites Tiers</h2>

  <p class="!px-[20px]">
    Mon portfolio peut contenir des liens vers des sites web tiers. Je ne suis pas responsables des pratiques de
    confidentialité ou du contenu de ces sites. Je vous encourage à consulter les politiques de confidentialité de ces
    tiers.
  </p>

  <h2 class="!mt-[35px]">6. Modifications de la Politique de Confidentialité</h2>

  <p class="!px-[20px]">
    Je me réserve le droit de modifier cette politique de confidentialité à tout moment. Les modifications seront
    effectives dès leur publication sur cette page. Je vous encourage à consulter régulièrement cette politique pour
    rester informé des changements éventuels.
  </p>

  <h2 class="!mt-[35px]">7. Consentement</h2>

  <p class="!px-[20px]">En utilisant mon portfolio, vous consentez à ma politique de confidentialité.</p>

  <p class="!mt-[40px]">
    Je vous invite à consulter les <a routerLink="/terms" class="underline">mentions légales</a>.
  </p>

  <p>
    Si vous avez des questions ou des préoccupations concernant ma politique de confidentialité, veuillez me contacter à
    <a class="underline" href="mailto:privacy@abvdev.fr"> privacy&#64;abvdev.fr. </a>
  </p>

  <p>Merci de votre visite !</p>
</div>
