<div class="relative z-10 mt-0 w-full min-w-[190px] max-w-[980px] px-[4%] py-0 text-[1em] text-[#757575]">
  <div class="mx-auto my-0 w-[90%] max-w-[1000px] px-0 py-[30px] text-neutral-500">
    <ul class="m-0 max-w-[1000px] p-0 text-[13px]">
      <li class="mb-4 ml-0 box-border inline-block w-3/12 min-w-[100px] list-none py-0 pl-0 pr-3 align-top">
        <a class="cursor-pointer hover:underline" href="https://cv.abvdev.fr/">
          <span>Curriculum vitae</span>
        </a>
      </li>
      <li class="mb-4 ml-0 box-border inline-block w-3/12 min-w-[100px] list-none py-0 pl-0 pr-3 align-top">
        <a class="cursor-pointer hover:underline" href="https://www.linkedin.com/in/abonvalle/">
          <span>Linkedin</span>
        </a>
      </li>
      <li class="mb-4 ml-0 box-border inline-block w-3/12 min-w-[100px] list-none py-0 pl-0 pr-3 align-top">
        <a class="cursor-pointer hover:underline" href="https://www.malt.fr/profile/abonvalle">
          <span>Malt</span>
        </a>
      </li>
      <li class="mb-4 ml-0 box-border inline-block w-3/12 min-w-[100px] list-none py-0 pl-0 pr-3 align-top">
        <a class="cursor-pointer hover:underline">
          <span>Comet</span>
        </a>
      </li>
      <li class="mb-4 ml-0 box-border inline-block w-3/12 min-w-[100px] list-none py-0 pl-0 pr-3 align-top">
        <a class="cursor-pointer hover:underline">
          <span>La crème de la crème</span>
        </a>
      </li>
      <li class="mb-4 ml-0 box-border inline-block w-3/12 min-w-[100px] list-none py-0 pl-0 pr-3 align-top">
        <a class="cursor-pointer hover:underline" routerLink="/privacy">
          <span>Confidentialité</span>
        </a>
      </li>
      <li class="mb-4 ml-0 box-border inline-block w-3/12 min-w-[100px] list-none py-0 pl-0 pr-3 align-top">
        <a class="cursor-pointer hover:underline" routerLink="/terms">
          <span>Mentions légales</span>
        </a>
      </li>
    </ul>
  </div>
</div>
