<div
  class="relative h-full overflow-hidden bg-cover"
  [ngStyle]="{ background: 'image-set(url(\'${card?.thumbnailPath}\'), url(\'${card?.thumbnailPath}\'))' }">
  <!--  css={css`
          ;
        `} -->

  <video
    *ngIf="card.clipPath; else imgTpl"
    class="h-[56vw] max-h-[703px] w-full max-w-[unset]"
    [src]="card.clipPath"
    [autoplay]="true"
    [loop]="true"
    [controls]="false"
    playsInline
    [muted]="mute"></video>
  <ng-template #imgTpl>
    <img class="h-[56vw] max-h-[703px] w-full max-w-[unset]" [src]="card.thumbnailPath" />
  </ng-template>
  <div
    class="fading-bg absolute -bottom-px top-auto z-0 h-[14.7vw] w-full bg-transparent bg-[0_top] bg-repeat-x opacity-100">
    <!--  css={css`
            background: linear-gradient(
              180deg,
              hsla(0, 0%, 8%, 0) 0,
              hsla(0, 0%, 8%, 0.15) 15%,
              hsla(0, 0%, 8%, 0.35) 29%,
              hsla(0, 0%, 8%, 0.58) 44%,
              #141414 68%,
              #141414
            );
          `} -->
  </div>
  <div class="absolute left-0 top-0 z-0 flex h-[40.25vw] max-h-screen flex-col justify-end p-16">
    <!--  css={css`
            width: calc(100% - 8rem);
          `} -->
    <h1 class="mb-2 text-[2rem] font-bold lg:text-[3vw] 3xl:text-[4rem]">{{ card.title }}</h1>

    <app-button [variant]="mute ? 'tertiary' : 'tertiary-active'" [rounded]="true">
      <i [ngClass]="mute ? 'icon icon-mute' : 'icon icon-sound'"></i>
    </app-button>
  </div>
</div>
