<h1 mat-dialog-title>Profils supplémentaires</h1>
<div mat-dialog-content>
  <p class="">Quels profils activer ?</p>
  <p class="mb-[10px] text-[12px] italic">Le partage de compte est strictement interdit</p>
  <div class="flex flex-col">
    <mat-slide-toggle [(ngModel)]="data['7bfad4e5-9d8f-426a-8f29-46e22fae3aez']">XGamer66 </mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="data['7bfad4e5-9d8f-426a-8f29-46e22fae3aer']">GOTLover3</mat-slide-toggle>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="onNoClick()">Annuler</button>
  <button mat-button (click)="save()">Sauvegarder</button>
</div>
