<div
  [ngClass]="{ 'bg-[#141414]': (isBgDark$ | async) === true }"
  class="topbar-bg-gradient fixed top-0 z-10 flex h-[41px] w-full items-center justify-between px-[4%] transition-all duration-700 ease-out sm:h-[68px]">
  <!-- <ng-container *ngIf="(profile$ | async) !== null"> -->
  <div class="flex items-end justify-center gap-[30px]">
    <img src="assets/devflix.svg" width="100px" />
    <a href="https://cv.abvdev.fr" class="text-[12px] hover:underline">Curriculum vitae</a>
    <ng-container *ngIf="hasProfileSelected$ | async">
      <a href="https://www.linkedin.com/in/abonvalle/" class="text-[12px] hover:underline">Linkedin</a>
      <a href="https://www.malt.fr/profile/abonvalle" class="text-[12px] hover:underline">Malt.fr</a>
    </ng-container>
  </div>

  <app-mat-menu-hover #customMenu *ngIf="(currentProfile$ | async) !== null">
    <div trigger class="z-[999] flex cursor-pointer items-center justify-center gap-2">
      <img [src]="(currentProfile$ | async)?.thumbnailPath" alt="" width="32" height="32" class="rounded-[4px]" />
      <i
        [ngClass]="{ 'rotate-180': customMenu.isMenuOpen }"
        class="icon icon-down_arrow w-4 text-[14px] font-bold transition-all duration-300 ease-out"></i>
    </div>
    <div content>
      <ng-container *ngFor="let profile of profiles$ | async">
        <button
          *ngIf="(currentProfile$ | async)?.guid !== profile.guid && !profile.hidden"
          (click)="changeProfil(profile.guid)"
          mat-menu-item>
          <div class="flex flex-row items-center justify-center gap-[10px] !text-[13px] !text-white hover:underline">
            <img [src]="profile.thumbnailPath" alt="" width="32" height="32" class="rounded-[4px]" />
            <span>{{ profile.name }}</span>
          </div>
        </button>
      </ng-container>
      <button (click)="editProfiles()" mat-menu-item>
        <div class="flex flex-row items-center justify-center gap-[10px] !text-[13px] !text-white">
          <i class="icon icon-edit px-[5px] text-[22px] text-white/70 hover:no-underline"></i>
          <span class="hover:underline">Gérer les profils</span>
        </div>
      </button>
      <button (click)="disconnect()" class="w-full !border-t-[1px] !border-white/25 py-[8px] !text-center">
        <span class="!text-[13px] !text-white hover:underline">Se déconnecter</span>
      </button>
    </div>
  </app-mat-menu-hover>
  <!-- </ng-container> -->
</div>
