<div
  [ngClass]="{ 'bg-[#141414]': (isBgDark$ | async) === true }"
  class="fixed top-0 z-10 flex h-[68px] w-full justify-between bg-gradient-to-b from-[#000000b3] from-[10%] to-transparent to-100% px-[55px] py-4 transition-all duration-700 ease-out">
  <!-- <ng-container *ngIf="(profile$ | async) !== null"> -->
  <img src="assets/devflix.svg" width="100px" />
  <div class="flex cursor-pointer items-center justify-center gap-2">
    <img [src]="(profile$ | async)?.thumbnailPath" alt="" width="32px" class="rounded-[4px]" />
    <i class="icon icon-down_arrow w-4 text-[14px] font-bold transition-all duration-300 ease-out"></i>
  </div>
  <!-- </ng-container> -->
</div>
